html(lang="en")
  head
    title= title
  body
    h1= app
    h2= usage
    ul
      li= userStory1
      li= userStory2
    h2= section1
    p(style="color:red")= content1
    h2= section2
    p(style="color:red")= content2
    h2= section3
    p(style="color:red")= content3
    h2= section4
    p(style="color:red")= content4	